$black: #000;
$white: #fff;
$gray: #9a9a9a;
$green: #47bcc5;

.mNavMenuOpen {
    right: 1% !important;
}

.displayNone {
    display: none !important;
}

.displayInline {
    display: inline !important;
}

.navOptionFocus {
    border-bottom: 1px dashed $green !important;
    &:hover {
        transition: 0.3s !important;
        color: $white !important;
        border-bottom: 3px solid $green !important;
    }
}

@mixin tooltip-custom($bg-color, $color, $margin-bottom, $padding, $font-size) {
    margin-bottom: $margin-bottom;
    .tooltip-inner {
        background-color: $bg-color;
        color: $color;
        font-size: $font-size;
        padding: $padding;
        border-radius: 50%;
    }

    &.bs-tooltip-top .arrow:before {
        border-top-color: $bg-color;
    }

    &.bs-tooltip-right .arrow:before {
        border-right-color: $bg-color;
    }

    &.bs-tooltip-left .arrow:before {
        border-left-color: $bg-color;
    }

    &.bs-tooltip-bottom .arrow:before {
        border-bottom-color: $bg-color;
    }
}

.tooltip-custom {
    @include tooltip-custom($green, $white, 10px, 10px, 12px);
}
