$black:#000;
$white:#fff;
$gray:#9a9a9a;
$green:#47BCC5;

// @import 'reset';

* {
    padding: 0;
    margin: 0;
    line-height: 1;
    scroll-behavior: smooth;
}


body {
    background-color: $gray;
    
}

.wrap {
    display: grid;
    grid-template-columns: repeat(9,1fr);
    height: 100vh;
    overflow: hidden;
    
    .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $black;
        width: 100vw;
        height: 100vh;

        .introButton {
            margin: 80px 0 60px;
            a {
                text-decoration: none;
                color: $white;
                padding: 10px 20px;
                border: 1px solid $white;
                border-radius: 10px;
                
                &:hover {
                    transition: 0.5s;
                    border:1px solid $green;
                    color: $green;
                }
            }
        }
        .introCopyright {
            padding: 20px;
            color: $gray;
        }
    }

    .index {
        background-color: $black;
        video {
            width: 100vw;
            height: 100vh;
        }
    }

    .about {
        display: flex;
        width: 100vw;
        .aboutLeftImg {
            margin-right: 150px;
            img {
                height: 100vh;
                width: auto;
            }
        }

        .aboutRight {
            display: flex;
            justify-content: space-around;

            .aboutLogo {
                margin-right: 200px;
                padding-top: 100px;
            }
            .aboutWords {
                color: $white;
                line-height: 2;
                text-align: center;
                font-size: 22px;
                font-weight: lighter;
                padding-top: 100px;
            }
        }
    }

    .gallery {
        width: 100vw;
        height: 100vh;
        
        .galleryArea {
            margin: 0 auto;
            padding-top: 3%; 
            width: 1000px;
            img {
                border-radius: 15px;
            }
        }   
    }

    .process {
        width: 100vw;
        height: 100vh;
        position: relative;

        .cardArea {
            padding-top: 3%;
            .processCard1 {
                margin: 20px auto 0;
                background-color: $black;
                border-radius: 15px;
                width: 600px;
                height: 300px;
            }
            .processCard2 {
                margin: 40px auto 0;
                background-color: $black;
                border-radius: 15px;
                width: 600px;
                height: 300px;
            }
        }

        .processRightLogo {
            position: absolute;
            padding: 20px;
            right: 40px;
            bottom: 80px;
        }
    }

    .contact {
        // background-color: $green;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        position: relative;
        .contactArea {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            padding-top: 5%;
            padding-left: 2%;
            .contactLeft {
                
                .contactLeft-1 {
                    margin-bottom: 10%;
                    .contactXLogo {
                        margin-bottom: 10%;
                    }
                    .contactXWords {
                        color: $white;
                        
                        span {
                            line-height: 2;
                        }
                    }
                }
                .contactLeft-2 {
                    margin-bottom: 13%;
                    color: $white;
                    
                    .addressImg {
                        margin-bottom: 2%;
                    }
                    .addressWords {
                        font-size: 16px;
                        line-height: 1.5;
                    }
                }
                .contactLeft-3 {
                    img {
                        width: 20%;
                    }

                }
            }
            .contactRight {
                

                img {
                    width: 90%;
                    border-radius: 15px;
                }
            }
        }
        .contactLastLogo {
            position: absolute;
            background-color: $black;
            padding: 100% 1% 5%;
            right: 0;
            bottom: 0;
                        
        }
    }

    .navWrap {
        display: grid;
        grid-template-columns: 30% 40% 30%;
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 1;
        .navLogo {
            display: grid;
            grid-template-columns: 30% 70%;
            
            a:nth-child(1) {
                position: relative;
                background-color: $black;
                margin-top: 120px;
                img {
                    position: absolute;
                    bottom: 15%;
                    left: 15%;
                    width: 80%;
                }
            }
            a:nth-child(2) {
                position: relative;
                background-color: $black;
                margin-top: 120px;
                img {
                    position: absolute;
                    left: 10%;
                    bottom: 20%;
                    width: 80%;
                }
            }
        }
        .navOption {
            background-color: $black;
            margin-top: 80px;
            padding: 15px;
            display: grid;
            grid-template-columns: repeat(9,1fr);
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            .navOptionA {
                text-align: center;
                margin: 20px auto;
                &:hover {
                    a {
                       transition: 0.3s;
                       color:$white;
                       border-bottom: 5px solid $green;
                    }
                }
                a {
                    text-decoration: none;
                    padding: 15px 20px;
                    color: $gray;
                    font-weight: lighter;
                    border-bottom: 0px solid $gray;
                }
            }
            .navOptionLine {
                margin: 20% auto;
                width: 1%;
                height: 60%;
                background-color: $gray;
            }
        }
        .navCopyright{
            margin-top: 120px;
            background-color: $black;
            text-align: center;
            padding-top: 15px;
            color: $gray;
            p {
                font-size: 16px;
                font-weight: lighter;
            }
        }

    }

}