body {
  background-color: #9a9a9a;
  color: #000;
}

.wrap .navWrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 40% 30%;
      grid-template-columns: 30% 40% 30%;
  position: fixed;
  bottom: 0;
  width: 100vw;
  z-index: 1;
}

.wrap .navWrap .navLogo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
}

.wrap .navWrap .navLogo a:nth-child(1) {
  position: relative;
  background-color: #000;
  margin-top: 80px;
}

.wrap .navWrap .navLogo a:nth-child(1) img {
  position: absolute;
  bottom: 15%;
  left: 15%;
  width: 80%;
}

.wrap .navWrap .navLogo a:nth-child(2) {
  position: relative;
  background-color: #000;
  margin-top: 80px;
}

.wrap .navWrap .navLogo a:nth-child(2) img {
  position: absolute;
  left: 10%;
  bottom: 23%;
  width: 80%;
}

.wrap .navWrap .navOption {
  background-color: #000;
  margin-top: 40px;
  padding: 25px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[9];
      grid-template-columns: repeat(9, 1fr);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.wrap .navWrap .navOption .navOptionA {
  text-align: center;
  margin: auto;
}

.wrap .navWrap .navOption .navOptionA:hover a {
  color: #9a9a9a;
  border-bottom: 1px solid #47BCC5;
}

.wrap .navWrap .navOption .navOptionA a {
  text-decoration: none;
  padding: 20px;
  color: #fff;
  font-weight: lighter;
}

.wrap .navWrap .navOption .navOptionLine {
  margin: 0 auto;
  width: 1px;
  height: 40px;
  background-color: #fff;
}

.wrap .navWrap .navCopyright {
  margin-top: 80px;
  padding: 20px;
  background-color: #000;
  text-align: center;
  color: #9a9a9a;
}

.wrap .navWrap .navCopyright p {
  font-size: 16px;
  font-weight: lighter;
}

.wrap .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-color: #000;
}

.wrap .intro .introLogo {
  margin-top: 0;
}

.wrap .intro .introButton {
  margin: 80px 0 60px;
}

.wrap .intro .introButton a {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  border: 1px solid #fff;
  border-radius: 10px;
}

.wrap .intro .introButton a:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 1px solid #47BCC5;
  color: #47BCC5;
}

.wrap .intro .introCopyright {
  padding: 20px;
  color: #9a9a9a;
}

.wrap .index video {
  width: 100%;
}

.wrap .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap .about .aboutLeftImg {
  margin-right: 150px;
}

.wrap .about .aboutLeftImg img {
  height: 100vh;
  width: auto;
}

.wrap .about .aboutRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.wrap .about .aboutRight .aboutLogo {
  margin-right: 200px;
  padding-top: 100px;
}

.wrap .about .aboutRight .aboutWords {
  color: #fff;
  line-height: 2;
  text-align: center;
  font-size: 22px;
  font-weight: lighter;
}

.wrap .gallery {
  height: 100vh;
}

.wrap .gallery .galleryArea {
  margin: 0 auto;
  padding-top: 100px;
  width: 1000px;
}

.wrap .process {
  height: 100vh;
  position: relative;
}

.wrap .process .cardArea {
  padding-top: 120px;
}

.wrap .process .cardArea .processCard1 {
  margin: 20px auto;
  background-color: #000;
  border-radius: 15px;
  width: 600px;
  height: 300px;
}

.wrap .process .cardArea .processCard2 {
  margin: 20px auto;
  background-color: #000;
  border-radius: 15px;
  width: 600px;
  height: 300px;
}

.wrap .process .processRightLogo {
  position: absolute;
  padding: 20px;
  right: 40px;
  bottom: 80px;
}
/*# sourceMappingURL=all.css.map */