@media screen and (max-width: 1600px) {
  .wrap .intro .introLogo img {
    width: 70%;
  }
  .wrap .intro a {
    margin-bottom: 2%;
  }
  .wrap .index .tattooVideo {
    margin-top: 6%;
  }
  .wrap .about .aboutLeftImg,
  .wrap .about .aboutRight {
    margin-top: -5%;
  }
  .wrap .about .aboutLeftImg img {
    width: 350px;
  }
  .wrap .about .aboutRight .aboutLogo {
    margin-right: 15%;
  }
  .wrap .about .aboutRight .aboutLogo img {
    width: 60%;
  }
  .wrap .about .aboutRight .aboutWords {
    margin-bottom: -5%;
    font-size: 12px;
    height: 300px;
  }
  .wrap .gallery .galleryArea {
    width: 600px;
  }
  .wrap .process .cardArea {
    padding-top: 5%;
  }
  .wrap .process .cardArea .processCard1,
  .wrap .process .cardArea .processCard2 {
    width: 500px;
    margin: 0 2%;
  }
  .wrap .process .cardArea .processCard2 .processContent ul li p {
    line-height: 1.5;
  }
  .wrap .process .processRightLogo img {
    width: 70%;
  }
  .wrap .contact .contactArea {
    padding-top: 2%;
  }
  .wrap .contact .contactArea .contactRight .googleMap {
    padding-top: 1%;
  }
  .wrap .navWrap .navOption .navOptionLine {
    margin: 40% auto;
  }
}

@media screen and (max-width: 1536px) {
  .wrap .navWrap .navOption .navOptionLine {
    margin: 60% auto;
  }
  .wrap .about .aboutLeftImg,
  .wrap .about .aboutRight {
    margin-top: -10%;
  }
  .wrap .about .aboutRight {
    margin-left: -2%;
  }
  .wrap .about .aboutRight .aboutLogo img {
    width: 70%;
  }
  .wrap .about .aboutRight .aboutWords {
    margin-bottom: 0;
  }
  .wrap .gallery .galleryArea {
    width: 550px;
  }
  .wrap .process .cardArea {
    padding-top: 4%;
  }
  .wrap .contact .contactArea .contactLeft .contactLeft-2 {
    margin-top: 28%;
  }
  .wrap .contact .contactArea .contactLeft .contactLeft-3 {
    margin-top: -60%;
  }
}

@media screen and (max-width: 1440px) {
  .wrap .navWrap .navLogo a:nth-child(2) img {
    bottom: 25%;
  }
  .wrap .navWrap .navOption .navOptionLine {
    margin: 100% auto;
  }
  .wrap .index .tattooVideo {
    margin-top: 8%;
  }
}

@media screen and (max-width: 1366px) {
  .wrap .navWrap .navOption .navOptionA a {
    padding: 15px 22px;
    font-size: 12px;
  }
  .wrap .navWrap .navOption .navOptionLine {
    margin: 80% auto;
  }
  .wrap .navWrap .navCopyright p {
    font-size: 8px;
  }
  .wrap .intro .introLogo img {
    width: 50%;
  }
  .wrap .intro .introCopyright {
    font-size: 12px;
  }
  .wrap .index .tattooVideo {
    margin-top: 3%;
  }
  .wrap .about .aboutLeftImg {
    margin-top: -7%;
  }
  .wrap .about .aboutLeftImg img {
    width: 300px;
  }
  .wrap .about .aboutRight {
    margin-left: 0;
    margin-top: -6%;
  }
  .wrap .about .aboutRight .aboutLogo img {
    width: 50%;
  }
  .wrap .about .aboutRight .aboutWords {
    height: 305px;
    width: 190px;
  }
  .wrap .gallery .galleryArea {
    padding-top: 2%;
  }
  .wrap .process .cardArea .processCard1,
  .wrap .process .cardArea .processCard2 {
    width: 500px;
  }
  .wrap .process .cardArea .processCard1 .processContent ul li p,
  .wrap .process .cardArea .processCard2 .processContent ul li p {
    font-size: 12px;
  }
  .wrap .process .processRightLogo img {
    width: 60%;
  }
  .wrap .contact .contactArea {
    width: 50%;
  }
  .wrap .contact .contactArea .contactLeft .contactLeft-1 {
    margin-bottom: 10%;
  }
  .wrap .contact .contactArea .contactLeft .contactLeft-1 .contactXLogo {
    margin-bottom: 10%;
  }
  .wrap .contact .contactArea .contactLeft .contactLeft-1 .contactXLogo img {
    width: 30%;
  }
  .wrap .contact .contactArea .contactLeft .contactLeft-2 .addressImg img {
    width: 30px;
  }
  .wrap .contact .contactArea .contactLeft .contactLeft-3 img {
    width: 15%;
  }
  .wrap .contact .contactArea .contactRight .googleMap img {
    width: 80%;
    border-radius: 15px;
  }
  .wrap .contact .contactLastLogo {
    position: absolute;
    background-color: #000;
    padding: 100% 1% 5%;
    right: 0;
    bottom: 0;
  }
}
/*# sourceMappingURL=desktop.css.map */